@model UniversityReportApp.Domain.Entities.Report

<h2>Report Details</h2>

<p>Id: @Model.Id</p>
<p>Title: @Model.Title</p>
<p>Content: @Model.Content</p>
<p>Date: @Model.Date</p>
<p>Professor: @Model.Professor.FirstName @Model.Professor.MiddleName @Model.Professor.LastName</p>
