@model UniversityReportApp.Domain.Entities.Professor

<h2>Professor Details</h2>

<p>Id: @Model.Id</p>
<p>Name: @Model.FirstName @Model.MiddleName @Model.LastName</p>
<p>Email: @Model.Email</p>
<p>Department: @Model.Department.Name</p>
